<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>

<header>
   <%- include partials/header %>
</header>

<h1>All Them Prettay URLS</h1>

<% for (key in urls) { %>


<table>
        <% if(username === urls[key].userId){ %>
  <tr>
    <td>
      <p><a href = "/u/<%= key %>"><%= key %></a>  --> <%= urls[key].url %></p>
    </td>
    <td>
      <form method="POST" action="/urls/<%= key %>/delete">
      <input type="image" src="images/delete.png" value="Delete" />



        <a href="/urls/<%= key %>"> Edit</a>



      </form>

    </td>
  </tr>
        <% }%>
</table>


<% } %>

<% if(email){ %>
   <p> Create a new <a href="/urls/new"> shortURL</a> here!</p>
 <% }%>

</body>

</html>
